{{define "bottom"}}
</main>
<footer>
    <ul>
        <li><a href="https://twitter.com/sile_nat">Twitter</a></li>
        <li><a href="https://github.com/Yinebeb-01">GitHub</a></li>
    </ul>
</footer>
</body>
</html>
{{end}}